<div style="padding-bottom: 5px;" id="prive-subs-account-link">
  <div style="{{ style }}">
          <b><a style="{{linkstyle}}" href="/apps/customers/portal">MANAGE SUBSCRIPTIONS</a></b> 
  

  </div>
</div>