<section class="hero-section">
  <div class="hero-image">
    <img src="{{ section.settings.hero_image | img_url: 'master' }}" alt="Hero Image">
  </div>

    <div class="hero-content">
        <h1 class="hero-title">{{ section.settings.hero_title }}</h1>
        <p class="hero-description">{{ section.settings.hero_description }}</p>
    </div>
</section>





{% schema %}
{
  "name": "Hero Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title"
    },
    {
      "type": "textarea",
      "id": "hero_description",
      "label": "Hero Description"
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}