<div class="main_container contact_page">
    <h1 class="main_title">{{ page.title }}</h1>
    <script
            defer="defer"
            type="text/javascript"
            src="https://attn-grace-fuawr9iw5w4.gorgias.help/api/contact-form-loader.js?source=https://attn-grace-fuawr9iw5w4.gorgias.help/en-US/embed/contact"
    ></script>
    <div id="gorgias-contact-form-wrapper">
        <div id="gorgias-contact-form-loader"></div>
    </div>
</div>

<style>
    #gorgias-contact-form-wrapper{
        height:120vh;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }
</style>
<script>
    {% comment %}
    wait until the aboove script has populated the iframe contact form before updating its scrolling attribute
  {% endcomment %}
    window.addEventListener('load', (event) => {
        const iframe = document.querySelector('#gorgias-contact-form-wrapper iframe')
        iframe.setAttribute('scrolling', 'yes');
    });
</script>

