<div class="ingredients-info">
    {% for section in section.blocks %}
      <div class="ingredients-block{% if section.settings.image_position == 'left' %} reverse{% endif %}">
        <div class="left">
            {% if section.settings.heading != blank %}
              <h3>{{ section.settings.heading }}</h3>
            {% endif %}
            {{ section.settings.ingredients_desc }}
        </div>
        <div class="right">
            {% if section.settings.ingredients_image != blank %}
              <img loading="lazy" src='{{ section.settings.ingredients_image | img_url: "master" }}'>
            {% endif %}
        </div>
      </div>
    {% endfor %}
</div>

{% schema %}
{
  "name": "Ingredients Information",
  "blocks": [
    {
      "type": "block",
      "name": "Ingredients Section",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "ingredients_desc",
          "type": "richtext",
          "label": "Ingredients Description"
        },
        {
          "id": "ingredients_image",
          "type": "image_picker",
          "label": "Ingredients Image"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "Image position",
          "default": "right",
          "options": [
            {
              "label": "Right",
              "value": "right"
            },
            {
              "label": "Left",
              "value": "left"
            }
          ]
        }
      ]
    }
  ]
}

{% endschema %}