<section class="pads-features">
    <div class='center-wrapper'>
        <div class="pads-features__row">
            {% for block in section.blocks %}
            <div class="pads-features-item">
                <div class="pads-features-item__icon">{{block.settings.image | img_url : 'master' | img_tag }}</div>
                <div class="pads-features-item__title">{{block.settings.heading}}</div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "New Product Features",
    "blocks" : [
      {
        "type" : "image",
        "name" : "Feature",
        "name" : "Feature",
        "settings": [
          {
            "type" : "image_picker",
            "id" : "image",
            "label" : "Image"
          }  ,
          {
            "type" : "text",
            "id" : "heading",
            "label" : "Text",
            "default" : "Discreet fit and barely-there feel"
          }          
        ]
      }
    ]
  }
{% endschema %}