<div class="container">
    <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
        <style>
            h1 {text-align: center;}
        </style>
        <div class="okeReviews okendo-custom-button" data-oke-container>
            <a href="https://okendo.reviews/?subscriberId=4d3e773e-15b4-4b3f-8e03-5784613cb34e&amp;productId=shopify-site-reviews-4d3e773e-15b4-4b3f-8e03-5784613cb34e" target="_blank" rel="noopener" class="oke-w-writeReview oke-button"> Write a Review </a>
        </div>
    </div>
    {% if shop.metafields.okendo.WidgetPreRenderBodyStyleTags != blank %}{{ shop.metafields.okendo.WidgetPreRenderBodyStyleTags }}{% endif %}<div data-oke-widget></div>
</div>
