{% include 'shogun-products', content: article %}
<div class="template-blog blog-details">
<article class="contained">
  <header class="blog-header">
    <h1 class="page-title"><span>{{ article.title }}</span></h1>

      <figure class="article-image">
        {%
          include 'rimg',
          img: article.image,
          size: '1000x',
          lazy: true
        %}
      </figure>
  </header>
  <div class="article-body rte mb0">
    {{ article.content }}
  </div>

  <footer class="article-footer">
    <p class="site-icon">
      {%- include 'icon-logo' -%}
    </p>
  </footer>
</article>
</div>
<style>
  .article-footer, .template-blog.blog-details {
    margin-bottom: 0 !important;
  }
  #shopify-section-footer {
    padding-top: 0 !important;
  }
</style>