{% assign parent = product %}
{% assign parent_collection = collection %}
{% assign ingrediants_briefs = section.settings.briefs_ingredients %}
{% assign ingrediants_pads = section.settings.pads_ingredients %}
{% assign ingrediants_hybrid = section.settings.hybrid_ingredients %}
{% assign ingrediants_liners = section.settings.liners_ingredients %}
{% assign ingrediants_wipes = section.settings.wipes_ingredients %}
{% assign baseingrediants = section.settings.ingredients %}

{% assign subscriptiondetails = section.settings.subscription %}
{% assign sizing_briefs = section.settings.briefs_sizing %}
{% assign sizing_pads = section.settings.pads_sizing %}
{% assign sizing_hybrid = section.settings.hybrid_sizing %}
{% assign sizing_liners = section.settings.liners_sizing %}
{% assign sizing_wipes = section.settings.wipes_sizing %}
{% assign basesizing = section.settings.sizing %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div
  data-product-list
  data-gallery-enable-video-looping="{{ section.settings.gallery_enable_video_looping }}"
  {% if section.settings.enable_single %}data-single-product{% endif %}
  {% if collection.products_count < 2 %}class="product-list-single"{% endif %}>

  {%
     include 'product-new',
     show_pagination: false %}

  
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_product_vendor",
        "label": "Show product vendor"
      },
      {
        "type": "checkbox",
        "id": "enable_single",
        "label": "Enable single product view"
      },
      {
        "type": "checkbox",
        "id": "show_spb",
        "label": "Show dynamic checkout button",
        "default": true,
        "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      {
        "type": "header",
        "content": "Media"
      }, {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media/product-media-types)"
      }, {
        "type": "checkbox",
        "id": "gallery_enable_video_looping",
        "label": "Enable video looping",
        "default": true
      }, {
        "type": "page",
        "id": "subscription",
        "label": "Subscription Details"
      }, {
        "type": "page",
        "id": "sizing",
        "label": "Common Sizing & Specs"
      }, {
        "type": "page",
        "id": "pads_sizing",
        "label": "Sizing & Specs for Pads"
      }, {
        "type": "page",
        "id": "briefs_sizing",
        "label": "Sizing & Specs for briefs"
      }, {
        "type": "page",
        "id": "hybrid_sizing",
        "label": "Sizing & Specs for Hybrid Pads"
      }, {
        "type": "page",
        "id": "liners_sizing",
        "label": "Sizing & Specs for Liners"
      }, {
        "type": "page",
        "id": "wipes_sizing",
        "label": "Sizing & Specs for Wipes"
      }, {
        "type": "header",
        "content": "About Us Content"
      }
    ]
  }
{% endschema %}