<div class="page-width">
    <div class="compare-button-text">
      {% if section.settings.heading != blank %}
        <h2 class="title">{{ section.settings.heading }}</h2>
      {% endif %}

      {% if section.settings.button_link != blank and section.settings.button_label != blank %}
        <a
          class="button"
          href="{{ section.settings.button_link }}"
        >
          {{ section.settings.button_label | escape }}
        </a>
      {% endif %}
    </div>
</div>

{% schema %}
{
  "name": "Comparison Button Text",
  "class": "compare-text-button",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Explore our entire skin-safe collection."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Shop now"
    }
  ]
}
{% endschema %}