<section class="home-as-seen-in-section">
	{% if section.settings.heading != blank %}
		<h2>{{ section.settings.heading }}</h2>
	{% endif %}
	
	{% include 'as-seen-in-slider' %}
</section>
{% schema %}
{
  "name": "As Seen In",
  "class": "home-as-seen-in",
  "max_blocks": 4,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "As Seen In"
    }
  ],
  "blocks": [
    {
      "type": "slider_items",
	  "name": "Slider Items",
	  "settings": [
		{
          "type": "textarea",
		  "id": "seen_item_title",
		  "label": "Title"
		},
		{
          "type": "image_picker",
		  "id": "seen_item_image",
		  "label": "Image",
		  "info" : "Image size 175x85"
		}
	  ]
	}
  ],
  "presets": [
    {
      "category": "Custom Blocks",
      "name": "As Seen In"
    }
  ]
}

{% endschema %}