.productrecharge-bundle .content-wrapper {
  overflow: initial;
}

.productrecharge-bundle #recharge-bundles .rb-sticky-form {
  position: sticky;
  top: 0;
  z-index: 10001;
  background: #fff;
}

.productrecharge-bundle #recharge-bundles .rb-container.tmb3 {
  position: sticky;
  top: 130px;
  z-index: 10001;
  background: #fff;
  /* display: none; */
  color: transparent;
}

.productrecharge-bundle #recharge-bundles .rb-container.tmb3::before {
  content: "Add 4,";
  display: block;
  position: absolute;
  top: 0px; /* Adjust top position as needed */
  right: 5px; /* Adjust right position to place it on the right side */
  font-size: 20px; /* Adjust font size as needed */
  color: #283965; /* Adjust color as needed */
  font-weight: bold; /* Adjust font weight as needed */
}


.productrecharge-bundle #recharge-bundles .rb-container.tmb3::after {
  content: "Save 15%";
  display: block;
  position: absolute;
  top: 20px; /* Adjust top position to place it below 'Add 4' */
  right: 5px; /* Adjust right position to align it with 'Add 4' */
  font-size: 20px; /* Adjust font size as needed */
  color: #283965; /* Adjust color as needed */
  font-weight: bold; /* Adjust font weight as needed */
}

@media only screen and (min-width: 756px) {
    .dynamic_buttons_center {
        /*position: relative;*/
        /*right: calc(50% - 230px);*/
        margin-top: 15px;
    }
}

.productrecharge-bundle #recharge-bundles {
  padding: 30px 0;
}

.productrecharge-bundle #recharge-bundles .rb-bundle-title {
  font-family: BentonMod, sans-serif;
  font-size: 40px;
  color: #000;
  font-weight: 300;
}

.productrecharge-bundle #recharge-bundles .rb-form {
  flex-direction: column;
  row-gap: 10px;
}

.productrecharge-bundle #recharge-bundles .rb-label[for="selling-plan-list"] {
  font-size: 0;
}

.productrecharge-bundle
  #recharge-bundles
  .rb-label[for="selling-plan-list"]:before {
  content: "Choose your delivery schedule";
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 5px;
}

.productrecharge-bundle #selling-plan-list {
  font-size: 18px;
  padding: 15px;
}

.productrecharge-bundle #recharge-bundles .rb-bundle-title {
  font-size: 0;
}

.productrecharge-bundle .rb-btn {
  font-size: 20px;
}

.productrecharge-bundle .rb-container.tmb3 {
  font-size: 20px;
}

.productrecharge-bundle #recharge-bundles .rb-bundle-title:before {
  content: "Select Your Products";
  font-size: 50px;
}

@media screen and (max-width: 767px) {
  .productrecharge-bundle #recharge-bundles .rb-container.tmb3 {
    position: relative; /* Change position to relative */
    top: initial; /* Reset top position */
    right: initial; /* Reset right position */
    padding-bottom: 1px;
  }

  .productrecharge-bundle #recharge-bundles .rb-container.tmb3::before {
    content: "Add 4,";
    display: block;
    position: absolute;
    right: 40px; /* Reset right position */
    top: 10px; /* Adjust top position as needed */

    font-size: 20px; /* Adjust font size as needed */
    color: #283965; /* Adjust color as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }

  .productrecharge-bundle #recharge-bundles .rb-container.tmb3::after {
    content: "Save 15%";
    display: block;
    position: absolute;
    top: 40px; /* Adjust top position to place it below 'Add 4' */
    right: 25px; /* Adjust right position to align it with 'Add 4' */
    font-size: 20px; /* Adjust font size as needed */
    color: #283965; /* Adjust color as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }

  .productrecharge-bundle #recharge-bundles .rb-bundle-title:before {
    font-size: 30px;
  }

  .productrecharge-bundle
    #recharge-bundles
    .rb-label[for="selling-plan-list"]:before {
    margin-bottom: 10px;
    display: block;
  }

  .productrecharge-bundle .main-title {
    margin-top: 0;
  }

  .status-bar-sign-up {
    margin-bottom: 12%;
  }
}

.producteric-bundletest .content-wrapper {
  overflow: initial;
}

.producteric-bundletest #recharge-bundles .rb-sticky-form {
  position: sticky;
  top: 0;
  z-index: 10001;
  background: #fff;
}

.producteric-bundletest #recharge-bundles .rb-container.tmb3 {
  position: sticky;
  top: 90px;
  z-index: 10001;
  background: #fff;
  /* display: none; */
  color: transparent;
}

/* .producteric-bundletest #recharge-bundles .rb-sticky-form {
  display: none;
} */


.producteric-bundletest #recharge-bundles .rb-container.tmb3::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px; /* Adjust top position as needed */
  right: 5px; /* Adjust right position to place it on the right side */
  font-size: 20px; /* Adjust font size as needed */
  color: #283965; /* Adjust color as needed */
  font-weight: bold; /* Adjust font weight as needed */
}


.producteric-bundletest #recharge-bundles .rb-container.tmb3::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px; /* Adjust top position to place it below 'Add 4' */
  right: 5px; /* Adjust right position to align it with 'Add 4' */
  font-size: 20px; /* Adjust font size as needed */
  color: #283965; /* Adjust color as needed */
  font-weight: bold; /* Adjust font weight as needed */
}

.producteric-bundletest #recharge-bundles {
  padding: 30px 0;
}

.producteric-bundletest #recharge-bundles .rb-bundle-title {
  font-family: BentonMod, sans-serif;
  font-size: 40px;
  color: #000;
  font-weight: 300;
}

.producteric-bundletest #recharge-bundles .rb-form {
  flex-direction: column;
  row-gap: 10px;
}

.producteric-bundletest #recharge-bundles .rb-label[for="selling-plan-list"] {
  font-size: 0;
}

.producteric-bundletest
  #recharge-bundles
  .rb-label[for="selling-plan-list"]:before {
  content: "Choose your delivery schedule";
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 5px;
}

.producteric-bundletest #selling-plan-list {
  font-size: 18px;
  padding: 15px;
}

.producteric-bundletest #recharge-bundles .rb-bundle-title {
  font-size: 0;
}

.producteric-bundletest .rb-btn {
  font-size: 20px;
}

.producteric-bundletest .rb-container.tmb3 {
  font-size: 20px;
}


.producteric-bundletest #recharge-bundles .rb-bundle-title:before {
  content: "Select Your Products";
  font-size: 50px;
}

@media screen and (max-width: 767px) {
  .producteric-bundletest #recharge-bundles .rb-container.tmb3 {
    position: relative; /* Change position to relative */
    top: initial; /* Reset top position */
    right: initial; /* Reset right position */
    padding-bottom: 1px;
  }

  .producteric-bundletest #recharge-bundles .rb-container.tmb3::before {
    content: "";
    display: block;
    position: absolute;
    right: 40px; /* Reset right position */
    top: 10px; /* Adjust top position as needed */

    font-size: 20px; /* Adjust font size as needed */
    color: #283965; /* Adjust color as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }

  .producteric-bundletest #recharge-bundles .rb-container.tmb3::after {
    content: "";
    display: block;
    position: absolute;
    top: 40px; /* Adjust top position to place it below 'Add 4' */
    right: 25px; /* Adjust right position to align it with 'Add 4' */
    font-size: 20px; /* Adjust font size as needed */
    color: #283965; /* Adjust color as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }

  .producteric-bundletest #recharge-bundles .rb-bundle-title:before {
    font-size: 30px;
  }

  .producteric-bundletest
    #recharge-bundles
    .rb-label[for="selling-plan-list"]:before {
    margin-bottom: 10px;
    display: block;
  }

  .producteric-bundletest .main-title {
    margin-top: 0;
  }

  .status-bar-sign-up {
    margin-bottom: 12%;
  }
}

/* Landing Page */
/* Banner */
.home-our-mission .our-mission {
  z-index: 0;
}

.banner-our-mission .text-wrapper {
  flex: 0 1 53%;
  min-width: unset;
  text-align: center;
}

.banner-our-mission .image-wrapper {
  -webkit-flex: 0 1 47%;
  -moz-flex: 0 1 47%;
  -ms-flex: 0 1 47%;
  flex: 0 1 47%;
  min-width: unset;
}

.banner-our-mission .text-inner .heading {
  font-size: 56px;
  line-height: 64px;
  border: 0;
  margin: 0;
  padding: 0;
}

.banner-our-mission .text-inner .text {
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  font-family: 'Acre';
  margin: 0 auto 50px;
  max-width: 483px;
}

.banner-our-mission .text-inner .heading strong:nth-child(1) {
  font-weight: 300;
  background: #F58C35;
}

.banner-our-mission .text-inner .heading strong:nth-child(2) {
  font-weight: 300;
  background: #E2E200;
}

.banner-our-mission .text-inner .heading strong:nth-child(3) {
  font-weight: 300;
  background: #93A5D8;
}

@media all and (max-width: 768px) {
  .home-our-mission .banner-our-mission {
    padding-top: 0;
  }

  .banner-our-mission .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
  }

  .banner-our-mission .text-wrapper,
  .banner-our-mission .text-inner {
    text-align: right;
  }

  .banner-our-mission .text-inner .heading {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
  }

  .banner-our-mission .text-inner .text {
    font-size: 16px;
    line-height: 24px;
    max-width: 224px;
    margin-right: 0;
    text-align: center;
  }
}

@media all and (min-width: 768px) and (max-width: 1350px) {
  .banner-our-mission .text-inner .heading {
    font-size: 40px;
    line-height: 45px;
  }
  .banner-our-mission .text-inner .text {
    font-size: 20px;
    line-height: 28px;
  }
}
/* Banner END */

/* Image with Text */
.updated-image-text-section {
  padding: 40px 0;
}

.updated-image-text-section .home-image-text-container {
  gap: 30px;
}

.updated-image-text-section .home-image-text-block.home-image-text-block {
  padding: 30px 0;
}

.global-heading {
  display: block;
  font-size: 56px;
  line-height: 64px;
  border-bottom: 0 !important;
  font-family: BentonMod;
  color: #000;
  font-weight: 300;
}

.updated-image-text-section p {
  font-family: 'Acre';
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.updated-image-text-section .home-image-image-block {
  background-position: top;
  max-width: 495px;
  margin: 40px 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.home-image-text-icon {
  max-width: 312px;
  margin-top: 10px;
}

.updated-image-text-section .home-image-text-block {
  padding-left: 0;
  padding-right: 0;
}

@media all and (max-width: 768px) {
  .updated-image-text-section .home-image-image-block {
    padding: 50px 30px 0!important;
  }

  .updated-image-text-section .home-image-text-block {
    position: relative!important;
  }

  .updated-image-text-section .home-image-text-content {
    color: black;
  }

  .global-heading {
    font-size: 40px;
    line-height: 45px;
  }

  .updated-image-text-section p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media all and (min-width: 768px) and (max-width: 1350px) {
  .global-heading {
    font-size: 40px;
    line-height: 45px;
  }

  .updated-image-text-section p {
    font-size: 20px;
    line-height: 28px;
  }
}

/* Image with Text END */

.custom-container {
  max-width: 1263px;
  margin: 0 auto;
  padding: 0 40px;
}

.global-btn {
  display: block;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 11px 40px;
  color: white;
  background: black;
  border-radius: 100px;
  max-width: 240px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
}

.global-btn:hover {
  background-color: #f49958;
  color: #000;
}

@media all and (max-width: 768px) {
  .custom-container {
    padding: 0 20px;
  }

  .global-btn {
    font-size: 20px;
    max-width: unset;
    width: 100%;
    padding: 7px 40px;
  }
}

/* Rich Text */
.updated-rich-text-section .home-section-rte-title {
    font-size: 56px;
    line-height: 64px;
    font-family: BentonMod;
    font-weight: 300;
}

@media all and (max-width: 768px) {
  .updated-rich-text-section .home-section-rte-title {
    font-size: 40px;
    line-height: 45px;
  }
}
/* Rich Text END */

/* Image with Text Colored */
.image-with-text-colored span {
  margin-bottom: 40px;
}

.home-image-text-subheading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 27px;
  font-size: 28px;
  line-height: 1;
}

@media all and (min-width: 768px) {
  .image-with-text-colored .home-image-text-block {
    width: calc(52% - 5px) !important;
  }
}

@media all and (max-width: 768px) {
  .home-image-text-subheading {
    font-size: 20px;
  }
}

@media all and (min-width: 768px) and (max-width: 1350px) {
  .home-image-text-subheading {
    font-size: 20px;
  }
}
/* Image with Text Colored END */

/* Image with Text Advisor */
.image-with-text-advisor .home-image-text-container {
  align-items: center;
}

.image-with-text-advisor .home-image-image-block {
  max-width: 220px;
  margin: 0 auto!important;
}

.updated-image-text-section.image-with-text-advisor p {
  font-size: 20px;
  line-height: 28px;
}

@media all and (min-width: 768px) {
  .image-with-text-advisor .home-image-image-block {
    width: calc(30% - 5px);
    padding: 80px;
    max-width: unset;
    margin: 0!important;
  }

  .image-with-text-advisor .home-image-text-block {
    width: calc(70% - 5px);
  }
}
/* Image with Text Advisor END */

/* Banner Image with Text */
.banner-image-with-text-title {
  margin-top: 20px;
}

.banner-image-with-text p {
  font-family: 'Acre';
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 34px!important;
}

@media all and (max-width: 768px) {
  .banner-image-with-text p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media all and (min-width: 768px) and (max-width: 1350px) {
  .banner-image-with-text p {
    font-size: 18px;
    line-height: 24px;
  }
}
/* Image with Text Advisor END */

.pagelanding-page .featured-product-wrap {
  background: white;
}

.rich-text-container .home-section-rte-wrapper {
  padding: 0 30px;
}

.rich-text-container {
  margin: 0 20px;
  border-radius: 15px;
}

.rich-text-container .home-section-rte-title {
  font-size: 42px;
  line-height: 44px;
  margin-bottom: 10px;
}

.rich-text-container .rte {
  font-size: 22px;
  line-height: 30px;
}

@media all and (max-width: 768px) {
  .rich-text-container .home-section-rte-title {
    font-size: 30px;
    line-height: 33px;
  }

  .rich-text-container .rte {
    font-size: 20px;
    line-height: 26px;
  }
}