.productrecharge-bundle .content-wrapper {
  overflow: initial;
}

.productrecharge-bundle #recharge-bundles .rb-sticky-form {
  position: sticky;
  top: 0;
  z-index: 10001;
  background: #fff;
}

.productrecharge-bundle #recharge-bundles .rb-container.tmb3 {
  position: sticky;
  top: 130px;
  z-index: 10001;
  background: #fff;
  /* display: none; */
  color: transparent;
}

.productrecharge-bundle #recharge-bundles .rb-container.tmb3::before {
  content: "Add 4,";
  display: block;
  position: absolute;
  top: 0px; /* Adjust top position as needed */
  right: 5px; /* Adjust right position to place it on the right side */
  font-size: 20px; /* Adjust font size as needed */
  color: #283965; /* Adjust color as needed */
  font-weight: bold; /* Adjust font weight as needed */
}


.productrecharge-bundle #recharge-bundles .rb-container.tmb3::after {
  content: "Save 15%";
  display: block;
  position: absolute;
  top: 20px; /* Adjust top position to place it below 'Add 4' */
  right: 5px; /* Adjust right position to align it with 'Add 4' */
  font-size: 20px; /* Adjust font size as needed */
  color: #283965; /* Adjust color as needed */
  font-weight: bold; /* Adjust font weight as needed */
}

@media only screen and (min-width: 756px) {
    .dynamic_buttons_center {
        /*position: relative;*/
        /*right: calc(50% - 230px);*/
        margin-top: 15px;
    }
}

.productrecharge-bundle #recharge-bundles {
  padding: 30px 0;
}

.productrecharge-bundle #recharge-bundles .rb-bundle-title {
  font-family: BentonMod, sans-serif;
  font-size: 40px;
  color: #000;
  font-weight: 300;
}

.productrecharge-bundle #recharge-bundles .rb-form {
  flex-direction: column;
  row-gap: 10px;
}

.productrecharge-bundle #recharge-bundles .rb-label[for="selling-plan-list"] {
  font-size: 0;
}

.productrecharge-bundle
  #recharge-bundles
  .rb-label[for="selling-plan-list"]:before {
  content: "Choose your delivery schedule";
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 5px;
}

.productrecharge-bundle #selling-plan-list {
  font-size: 18px;
  padding: 15px;
}

.productrecharge-bundle #recharge-bundles .rb-bundle-title {
  font-size: 0;
}

.productrecharge-bundle .rb-btn {
  font-size: 20px;
}

.productrecharge-bundle .rb-container.tmb3 {
  font-size: 20px;
}

.productrecharge-bundle #recharge-bundles .rb-bundle-title:before {
  content: "Select Your Products";
  font-size: 50px;
}

@media screen and (max-width: 767px) {
  .productrecharge-bundle #recharge-bundles .rb-container.tmb3 {
    position: relative; /* Change position to relative */
    top: initial; /* Reset top position */
    right: initial; /* Reset right position */
    padding-bottom: 1px;
  }

  .productrecharge-bundle #recharge-bundles .rb-container.tmb3::before {
    content: "Add 4,";
    display: block;
    position: absolute;
    right: 40px; /* Reset right position */
    top: 10px; /* Adjust top position as needed */

    font-size: 20px; /* Adjust font size as needed */
    color: #283965; /* Adjust color as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }

  .productrecharge-bundle #recharge-bundles .rb-container.tmb3::after {
    content: "Save 15%";
    display: block;
    position: absolute;
    top: 40px; /* Adjust top position to place it below 'Add 4' */
    right: 25px; /* Adjust right position to align it with 'Add 4' */
    font-size: 20px; /* Adjust font size as needed */
    color: #283965; /* Adjust color as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }

  .productrecharge-bundle #recharge-bundles .rb-bundle-title:before {
    font-size: 30px;
  }

  .productrecharge-bundle
    #recharge-bundles
    .rb-label[for="selling-plan-list"]:before {
    margin-bottom: 10px;
    display: block;
  }

  .productrecharge-bundle .main-title {
    margin-top: 0;
  }
  
  .status-bar-sign-up {
    margin-bottom: 12%;
  }
}

.producteric-bundletest .content-wrapper {
  overflow: initial;
}

.producteric-bundletest #recharge-bundles .rb-sticky-form {
  position: sticky;
  top: 0;
  z-index: 10001;
  background: #fff;
}

.producteric-bundletest #recharge-bundles .rb-container.tmb3 {
  position: sticky;
  top: 90px;
  z-index: 10001;
  background: #fff;
  /* display: none; */
  color: transparent;
}

/* .producteric-bundletest #recharge-bundles .rb-sticky-form {
  display: none;
} */


.producteric-bundletest #recharge-bundles .rb-container.tmb3::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px; /* Adjust top position as needed */
  right: 5px; /* Adjust right position to place it on the right side */
  font-size: 20px; /* Adjust font size as needed */
  color: #283965; /* Adjust color as needed */
  font-weight: bold; /* Adjust font weight as needed */
}


.producteric-bundletest #recharge-bundles .rb-container.tmb3::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px; /* Adjust top position to place it below 'Add 4' */
  right: 5px; /* Adjust right position to align it with 'Add 4' */
  font-size: 20px; /* Adjust font size as needed */
  color: #283965; /* Adjust color as needed */
  font-weight: bold; /* Adjust font weight as needed */
}

.producteric-bundletest #recharge-bundles {
  padding: 30px 0;
}

.producteric-bundletest #recharge-bundles .rb-bundle-title {
  font-family: BentonMod, sans-serif;
  font-size: 40px;
  color: #000;
  font-weight: 300;
}

.producteric-bundletest #recharge-bundles .rb-form {
  flex-direction: column;
  row-gap: 10px;
}

.producteric-bundletest #recharge-bundles .rb-label[for="selling-plan-list"] {
  font-size: 0;
}

.producteric-bundletest
  #recharge-bundles
  .rb-label[for="selling-plan-list"]:before {
  content: "Choose your delivery schedule";
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 5px;
}

.producteric-bundletest #selling-plan-list {
  font-size: 18px;
  padding: 15px;
}

.producteric-bundletest #recharge-bundles .rb-bundle-title {
  font-size: 0;
}

.producteric-bundletest .rb-btn {
  font-size: 20px;
}

.producteric-bundletest .rb-container.tmb3 {
  font-size: 20px;
}


.producteric-bundletest #recharge-bundles .rb-bundle-title:before {
  content: "Select Your Products";
  font-size: 50px;
}

@media screen and (max-width: 767px) {
  .producteric-bundletest #recharge-bundles .rb-container.tmb3 {
    position: relative; /* Change position to relative */
    top: initial; /* Reset top position */
    right: initial; /* Reset right position */
    padding-bottom: 1px;
  }

  .producteric-bundletest #recharge-bundles .rb-container.tmb3::before {
    content: "";
    display: block;
    position: absolute;
    right: 40px; /* Reset right position */
    top: 10px; /* Adjust top position as needed */

    font-size: 20px; /* Adjust font size as needed */
    color: #283965; /* Adjust color as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }

  .producteric-bundletest #recharge-bundles .rb-container.tmb3::after {
    content: "";
    display: block;
    position: absolute;
    top: 40px; /* Adjust top position to place it below 'Add 4' */
    right: 25px; /* Adjust right position to align it with 'Add 4' */
    font-size: 20px; /* Adjust font size as needed */
    color: #283965; /* Adjust color as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }

  .producteric-bundletest #recharge-bundles .rb-bundle-title:before {
    font-size: 30px;
  }

  .producteric-bundletest
    #recharge-bundles
    .rb-label[for="selling-plan-list"]:before {
    margin-bottom: 10px;
    display: block;
  }

  .producteric-bundletest .main-title {
    margin-top: 0;
  }
  
  .status-bar-sign-up {
    margin-bottom: 12%;
  }
}

#shopify-section-product-bundles .bundle-description {
  margin-top: 5px;
}

#shopify-section-product-bundles .bundles-wrap {
  margin: 50px auto 80px;
  padding: 0 30px;
  width: 100%;
  max-width: 1260px;
}

#shopify-section-product-bundles .bundles-container {
  width: fit-content;
}

#shopify-section-product-bundles .bundles-wrap h2 {
  font-family: 'Acre', sans-serif;
  font-size: 30px;
  font-weight: 500;
}

#shopify-section-product-bundles .bundle-title {
  font-family: 'Acre', sans-serif;
  text-transform: uppercase;
  letter-spacing: -2%;
}

#shopify-section-product-bundles .bundles-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

#shopify-section-product-bundles .bundle-image img {
  border-radius: 30px;
}

#shopify-section-product-bundles .bundle-card {
  min-width: 225px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}

#shopify-section-product-bundles #frequency {
  width: 100%;
  height: 40px;
  padding: 10px 30px 10px 10px;
  margin-bottom: 10px;
  border-radius: 100px;
  border: 1px solid black;
  color: black;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.subscription {
  position: relative;
}

.subscription::after {
  content: '';
  position: absolute;
  right: 1em;
  top: calc(50% - 5px);
  transform: translateY(-50%);
  pointer-events: none;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='currentColor' stroke-width='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

#shopify-section-product-bundles .bundle-button {
margin-top: auto;
}

@media (max-width: 1023px) {
#shopify-section-product-bundles .bundles-wrap {
display: block;
padding: 16px;
}
#shopify-section-product-bundles .bundles-cards {
display: flex;
flex-direction: row;
justify-content: flex-start;
gap: 10px;
flex-wrap: wrap;
}
#shopify-section-product-bundles .bundle-card {
width: calc(50% - 5px);
height: auto;
}
#shopify-section-product-bundles .bundle-image img {
border-radius: 15px;
}
}

@media (max-width: 767px) {
#shopify-section-product-bundles .bundle-card {
min-width: auto;
}
}