@charset "UTF-8";
/*==============================FONTS==============================*/
/* @font-face {
  font-family: "BentonModDisp";
  src: url("../fonts/BentonModDisp-Regular.woff2") format("woff2"), url("../fonts/BentonModDisp-Regular.woff") format("woff"), url("../fonts/BentonModDisp-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BentonModDisp";
  src: url("../fonts/BentonModDisp-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Acre";
  src: url("../fonts/Acre-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Acre";
  src: url("../fonts/Acre-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Acre";
  src: url("../fonts/Acre-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Acre";
  src: url("../fonts/Acre-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
} */
/*==============================RESET==============================*/
*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clr:after {
  content: "";
  display: block;
  clear: both;
}

html, body, div,
dl, dt, dd, ol, ul, li,
h1, h2, h3, h4, h5, h6, p, hr,
img, a, em, span, strong,
form, label, input, button, select,
table, thead, tbody, tfoot, tr, th, td, textarea {
  border: 0;
  outline: none;
  background: none;
  vertical-align: baseline;
  font: inherit;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
textarea,
button {
  color: #686868;
  outline: none;
}

a:hover,
a:focus,
a.active {
  text-decoration: none;
  outline: none;
}

a[href^=tel] {
  color: inherit;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: #686868;
}

input::-moz-placeholder {
  color: #686868;
}

input:-moz-placeholder {
  color: #686868;
}

input:-ms-input-placeholder {
  color: #686868;
}

input:focus::-webkit-input-placeholder {
  color: transparent !important;
}

input:focus::-moz-placeholder {
  color: transparent !important;
}

input:focus:-moz-placeholder {
  color: transparent !important;
}

input:focus:-ms-input-placeholder {
  color: transparent !important;
}

textarea::-webkit-input-placeholder {
  color: #686868;
}

textarea::-moz-placeholder {
  color: #686868;
}

textarea:-moz-placeholder {
  color: #686868;
}

textarea:-ms-input-placeholder {
  color: #686868;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}

textarea:focus::-moz-placeholder {
  color: transparent !important;
}

textarea:focus:-moz-placeholder {
  color: transparent !important;
}

textarea:focus:-ms-input-placeholder {
  color: transparent !important;
}

/*==============================GENERAL==============================*/
html, body {
  position: relative;
  min-width: 320px;
}

body {
  font-family: "Acre";
  line-height: 1;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.center-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1270px;
}

h1, h2, h3, h4, h5, h6, .title_1, .title_2, .title_3, .title_4, .title_5, .title_6 {
  margin-bottom: 20px;
  font-family: "BentonModDisp";
  line-height: 1.2;
}

h1, .title_1 {
  font-size: 68px;
}

h2, .title_2 {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.1;
}

p {
  margin-bottom: 15px;
  font-size: 29px;
  line-height: 1.3;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul, ol {
  list-style: none;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

img {
  height: auto;
  vertical-align: top;
}

table {
  width: 100%;
}

.text_green {
  color: #049E95;
}

/*==============================FORM ELEMENTS==============================*/
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 20px;
  min-width: 377px;
  height: 70px;
  font-size: 31px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  -webkit-transition: color .4s cubic-bezier(.25,.46,.45,.94),background-color .4s cubic-bezier(.25,.46,.45,.94);
  transition: color .4s cubic-bezier(.25,.46,.45,.94),background-color .4s cubic-bezier(.25,.46,.45,.94);
  cursor: pointer;
  font-weight:600;
}
.btn_white {
  font-weight: 600;
  background: #fff;
  color: #000;
}
.btn:hover {
  background-color: #f49958;
  color: #000;
}
.btn_white:hover{
  background-color: #000;
  color: #fff;
}
.btn:hover img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.btn img {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*==============================INDEX==============================*/
/*-------------------------promo-------------------------*/
.promo {
  position: relative;
  background: #FFE3C9;
  overflow: hidden;
}
.promo__body {
  padding: 150px 0 135px 0;
}
.promo__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.promo__image img {
  min-height: 100%;
}
.promo__text {
  margin-bottom: 45px;
  max-width: 650px;
  font-size: 33px;
  line-height: 47px;
  font-weight: 600;
}

.promo__image_mobile {
  display: none;
}

.promo-quote__text {
  position: relative;
  margin-bottom: 35px;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.05;
  color: #FB640F;
}
.promo-quote__text:before {
  content: "“";
  display: block;
  position: absolute;
  left: -50px;
  top: 0;
}
.promo-quote__author {
  margin-bottom: 40px;
  font-size: 29px;
  line-height: 34px;
  font-weight: 500;
  color: #FB640F;
}

/*-------------------------upgrade-------------------------*/
.upgrade {
  padding: 150px 0;
}
.upgrade__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.upgrade__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 535px;
          flex: 0 0 535px;
  max-width: 535px;
  z-index: -1;
}
.upgrade__image img {
  position: absolute;
  top: 0;
  left: -180px;
}
.upgrade__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.upgrade__caption {
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  color: #FB640F;
}
.upgrade__desc {
  margin-bottom: 5px;
  font-size: 29px;
  line-height: 41px;
  font-weight: 700;
}
.upgrade__list {
  padding-bottom: 40px;
}
.upgrade__list li {
  position: relative;
  margin-bottom: 5px;
  padding-left: 20px;
  font-size: 29px;
  line-height: 41px;
}
.upgrade__list li:before {
  content: "-";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

/*------------------------brands-------------------------*/
.brands {
  padding: 47px 0;
  background: #F5F5F5;
}
.brands__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brands__item {
  margin: 0 52px;
}

/*------------------------difference-------------------------*/
.difference {
  padding: 105px 0 110px 0;
}
.difference__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.difference__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 715px;
          flex: 0 0 715px;
  max-width: 715px;
  padding-left: 70px;
  padding-right: 30px;
}
.difference__image {
  position: relative;
  right: -70px;
  top: 10px;
}
.difference__title {
  margin-bottom: 45px;
  position: relative;
  line-height: 1.1;
  color: #FF9A53;
}
.difference__title:before {
  content: "“";
  display: block;
  position: absolute;
  left: -45px;
  top: 0;
}
.difference__quote {
  margin-bottom: 65px;
}
.difference__quote p {
  font-size: 25px;
  margin-bottom: 20px;
  line-height: 34px;
}
.difference__quote cite {
  font-size: 29px;
  font-weight: 500;
}

/*--------------------------steps-------------------------*/
.steps {
  padding: 70px 0;
  background: #049E95;
}
.steps__title {
  margin-bottom: 60px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.steps__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}
.steps__col {
  padding: 0 10px;
}
.steps__btn {
  padding-top: 10px;
  text-align: center;
}

.steps-item {
  max-width: 310px;
  text-align: center;
  color: #fff;
}
.steps-item__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 35px;
  width: 100px;
  height: 100px;
  font-size: 64px;
  font-weight: 500;
  border: 3px solid #fff;
  border-radius: 50%;
}
.steps-item__title {
  margin-bottom: 10px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
}
.steps-item__desc {
  font-size: 23px;
  line-height: 1.2;
}

/*-------------------------reviews-------------------------*/
.reviews__slogan {
  padding: 20px 0;
  font-size: 39px;
  font-weight: 600;
  text-align: center;
  background: #FB9650;
  color: #fff;
}
.reviews__image {
  text-align: center;
}
.reviews__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews__content {
  padding: 75px 0 100px 0;
  background: #FFE3C9;
}
.reviews__title {
  margin-bottom: 50px;
  text-align: center;
  color: #FB640F;
}
.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -20px;
}
.reviews__col {
  padding: 0 20px;
}

.reviews-item {
  max-width: 280px;
  text-align: center;
}
.reviews-item__text {
  margin-bottom: 30px;
  font-size: 29px;
  line-height: 1.25;
}
.reviews-item__author {
  font-size: 29px;
}

/*--------------------------about-------------------------*/
.about {
  position: relative;
  padding: 80px 0 110px 0;
  background: rgba(218, 233, 232, 0.7);
  z-index: 1;
}
.about:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 550px;
  background: #fff;
  z-index: -1;
}
.about__title {
  margin-bottom: 50px;
  text-align: center;
}
.about__text {
  text-align: center;
}
.about__text p {
  margin-bottom: 35px;
}
.about__btn {
  text-align: center;
}

.video {
  position: relative;
  margin-bottom: 70px;
}
.video__poster {
  height: 550px;
}
.video__poster img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-left: 12px;
  width: 187px;
  height: 187px;
  background: rgba(217, 217, 217, 0.51);
  border-radius: 50%;
}
.video__play:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.video__play img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
  padding-top: 20px;
}
.about-features__item {
  max-width: 320px;
  text-align: center;
}
.about-features__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  height: 180px;
}
.about-features__text {
  margin-bottom: 50px;
  font-size: 29px;
  line-height: 39px;
}

/*-------------------------designed-------------------------*/
.designed {
  position: relative;
  padding: 660px 0 165px 0;
  z-index: 1;
}
.designed:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 585px;
  background: #FCBA93;
}
.designed__image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 250px;
  width: 100%;
}
.designed__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.designed__body {
  position: relative;
  padding: 75px 80px;
  background: rgba(255, 255, 255, 0.97);
  z-index: 5;
}
.designed__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.designed__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 385px;
          flex: 0 0 385px;
  max-width: 385px;
  padding-right: 30px;
}
.designed__text p {
  margin-bottom: 35px;
  line-height: 1.25;
}
.designed__btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  text-align: center;
}

/*==============================REASONS==============================*/
.promo_reasons {
  padding: 75px 0 115px 0;
  background: #FCBA93;
}
.promo_reasons .promo__image img {
  min-height: auto;
}
.promo_reasons .promo__text {
  margin-bottom: 40px;
  max-width: 100%;
  font-size: 29px;
  line-height: 39px;
}
.promo_reasons .promo__btn {
  padding: 0 50px;
}

.promo__title {
  margin-bottom: 0;
  font-size: 150px;
  color: #fff;
}

.promo__subtitle {
  margin-bottom: 25px;
  font-size: 68px;
  line-height: 1.1;
}

/*-------------------------.reasons-steps-------------------------*/
.reasons-steps {
  padding: 80px 0;
  background: #FFF3EC;
}

.reasons-steps-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
.reasons-steps-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.reasons-steps-item:nth-child(even) .reasons-steps-item__content {
  padding: 100px 80px 100px 150px;
}
.reasons-steps-item:nth-child(even) .reasons-steps-item__content:before {
  left: 100%;
  right: 0;
  width: 100px;
}
.reasons-steps-item:last-child {
  margin-bottom: 0;
}
.reasons-steps-item:nth-child(2) {
  padding-right: 100px;
}
.reasons-steps-item:nth-child(2) .reasons-steps-item__content {
  padding-top: 70px;
  padding-bottom: 70px;
}
.reasons-steps-item:nth-child(3) {
  padding-left: 50px;
}
.reasons-steps-item:nth-child(3) .reasons-steps-item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 460px;
          flex: 0 0 460px;
  max-width: 460px;
}
.reasons-steps-item:nth-child(4) {
  padding-right: 120px;
}
.reasons-steps-item:nth-child(4) .reasons-steps-item__content {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-right:176px;
}
.reasons-steps-item:nth-child(4) .reasons-steps-item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  max-width: 400px;
}
.reasons-steps-item:nth-child(5) {
  padding-left: 150px;
}
.reasons-steps-item:nth-child(5) .reasons-steps-item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 280px;
          flex: 0 0 280px;
  max-width: 280px;
}
.reasons-steps-item__image {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 540px;
          flex: 0 0 540px;
  max-width: 540px;
  text-align: center;
}
.reasons-steps-item__image img {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.reasons-steps-item__content {
  position: relative;
  padding: 100px 80px 100px 150px;
  background: #fff;
  z-index: 1;
}
.reasons-steps-item__content:before {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  top: 0;
  width: 180px;
  height: 100%;
  background: #fff;
  z-index: -1;
}
.reasons-steps-item__title {
  position: relative;
  margin-bottom: 30px;
  font-family: "BentonModDisp";
  font-size: 48px;
  font-weight: 700;
}
.reasons-steps-item__title span {
  position: absolute;
  top: 0;
  left: -90px;
  font-family: "BentonModDisp";
  font-weight: normal;
  font-size: 125px;
  line-height: 0.8;
  color: #FCBA93;
}
.reasons-steps-item__desc {
  margin-bottom: 30px;
  font-size: 25px;
}

.reasons-discount {
  padding: 150px 0;
  background: #FFD0B5;
}
.reasons-discount__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reasons-discount__leftside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
  max-width: 58%;
}
.reasons-discount__rightside {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.reasons-discount__number {
  margin-top: -30px;
  font-family: "BentonModDisp";
  font-size: 125px;
  font-weight: 700;
}
.reasons-discount__title {
  font-family: "BentonModDisp";
  font-size: 88px;
}
.reasons-discount__text {
  margin-bottom: 50px;
  font-size: 27px;
  line-height: 1.2;
}
.reasons-discount__text p{
  display: block;
  font-size: 27px;
  line-height: 1.2;
  margin:0;
}
.reasons-discount__text a {
  color: #000;
  border-bottom: 2px solid #000;
}
.reasons-discount__text a:hover {
  border-color: transparent;
}

.reasons-review {
  padding: 160px 0;
  background: #049E95;
}
.reasons-review__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.reasons-review__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 60px;
}
.reasons-review__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 565px;
          flex: 0 0 565px;
  max-width: 565px;
}
.reasons-review__image img {
  max-width: 100%;
}
.reasons-review__title {
  position: relative;
  margin-bottom: 35px;
  color: #fff;
}
.reasons-review__title:before {
  content: "“";
  display: block;
  position: absolute;
  left: -50px;
  top: 0;
}
.reasons-review__text {
  margin-bottom: 20px;
  font-size: 27px;
  line-height: 34px;
  color: #fff;
}
.reasons-review__author {
  margin-bottom: 40px;
  font-size: 29px;
  color: #fff;
}
.breadcrumb{
  display:none!important;
}
#shopify-section-footer{
  padding-top:0;
}

/*==============================BEST==============================*/
/*==============================ADAPTIVE==============================*/
@media only screen and (max-width: 1399px) {
  .designed__image {
    bottom: 450px;
  }
}
@media only screen and (max-width: 1399px) {
  .center-wrapper {
    max-width: 1140px;
  }
  .reasons-steps-item__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 450px;
            flex: 0 0 450px;
    max-width: 450px;
  }
  .reasons-steps-item:nth-child(2) {
    padding-right: 50px;
  }
  .reasons-steps-item:nth-child(4) {
    padding-right: 70px;
  }
  .reasons-steps-item:nth-child(5) {
    padding-left: 100px;
  }
  .promo__image {
    width: 630px;
  }
  .difference__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
    padding-left: 0;
  }
  .difference__image {
    right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 500px;
            flex: 0 0 500px;
    max-width: 500px;
  }
  .difference__image img {
    max-width: 100%;
  }
  .designed__image {
    bottom: 550px;
  }
}
@media only screen and (max-width: 1279px) {
  .center-wrapper {
    max-width: 960px;
  }
  h2 {
    font-size: 55px;
  }
  .btn {
    min-width: 320px;
    font-size: 26px;
  }
  .promo__body {
    position: relative;
    padding: 100px 0;
    z-index: 5;
  }
  .promo__title {
    font-size: 120px;
  }
  .promo__subtitle {
    font-size: 55px;
  }
  .promo-quote__text {
    font-size: 55px;
  }
  .promo-quote__text:before {
    left: -35px;
  }
  .promo-quote__author {
    margin-bottom: 30px;
  }
  .promo__text {
    font-size: 30px;
    line-height: 1.3;
    max-width: 500px;
  }
  .promo_reasons .promo__image {
    width: 600px;
  }
  .promo_reasons .promo__image img {
    max-width: 100%;
  }
  .promo_reasons .promo__text {
    font-size: 24px;
    line-height: 1.3;
  }
  .reasons-steps-item__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
    max-width: 350px;
  }
  .reasons-steps-item__content {
    padding: 70px 50px 70px 120px;
  }
  .reasons-steps-item__title {
    font-size: 40px;
  }
  .reasons-steps-item__desc {
    line-height: 1.2;
  }
  .reasons-steps-item__title span {
    font-size: 100px;
    left: -75px;
  }
  .reasons-steps-item:nth-child(3) .reasons-steps-item__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
    max-width: 350px;
  }
  .reasons-steps-item__content:before {
    width: 100px;
  }
  .reasons-steps-item__btn {
    padding: 0 15px;
    font-size: 24px;
  }
  .reasons-steps-item:nth-child(5),
  .reasons-steps-item:nth-child(3),
  .reasons-steps-item:nth-child(2),
  .reasons-steps-item:nth-child(4) {
    padding: 0;
  }
  .reasons-steps-item:nth-child(4) .reasons-steps-item__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
    max-width: 350px;
  }
  .reasons-steps-item:nth-child(4) .reasons-steps-item__content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .reasons-discount__number {
    font-size: 110px;
    margin-top: -10px;
  }
  .reasons-discount__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reasons-discount__title {
    font-size: 74px;
  }
  .reasons-discount__text {
    font-size: 25px;
  }
  .reasons-discount {
    padding: 100px 0;
  }
  .reasons-review {
    padding: 120px 0;
  }
  .reasons-review__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
    max-width: 400px;
  }
  .reasons-review__text {
    font-size: 24px;
    line-height: 1.3;
  }
  .reasons-review__title:before {
    left: -35px;
  }
  .upgrade {
    padding: 120px 0;
  }
  .upgrade__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 450px;
            flex: 0 0 450px;
    max-width: 450px;
  }
  .upgrade__desc br {
    display: none;
  }
  .brands__item {
    margin: 0 35px;
  }
  .difference__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
    max-width: 400px;
  }
  .difference__title:before {
    left: -35px;
  }
  .designed__body {
    padding: 50px;
  }
  .designed__row {
    display: block;
  }
  .designed__title {
    margin-bottom: 40px;
    padding-right: 0;
    max-width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .center-wrapper {
    max-width: 720px;
  }
  .promo_reasons .promo__image {
    width: 500px;
  }
  .promo__title {
    font-size: 100px;
  }
  .promo__subtitle {
    font-size: 45px;
  }
  .promo_reasons .promo__text {
    font-size: 20px;
  }
  .promo_reasons .promo__btn {
    padding: 0 25px;
    font-size: 23px;
  }
  .reasons-steps {
    padding-bottom: 40px;
    padding-top: 60px;
    border-bottom: 60px solid #FFF3EC;
  }
  .reasons-steps-item {
    display: block;
    position: relative;
  }
  .reasons-steps-item:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: -60px;
    margin-left: -500px;
    width: 1000px;
    height: 190px;
    background: #FFF3EC;
  }
  .reasons-steps-item__image {
    max-width: 100% !important;
  }
  .reasons-steps {
    background: #fff;
  }
  .reasons-steps-item__content {
    padding: 40px 0 0 !important;
  }
  .reasons-steps-item__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 380px;
  }
  .reasons-steps-item__title {
    padding-left: 70px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons-steps-item__title span {
    left: 0;
  }
  .reasons-discount__body {
    display: block;
    text-align: center;
  }
  .reasons-discount__leftside {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .reasons-discount__number {
    margin: 0;
    font-size: 90px;
  }
  .reasons-review__body {
    display: block;
  }
  .reasons-review__image {
    margin-bottom: 50px;
    max-width: 100%;
    text-align: center;
  }
  .reasons-review__content {
    padding-right: 0;
    text-align: center;
  }
  .reasons-review__title:before {
    position: static;
    display: inline;
    padding-right: 5px;
  }
  .reasons-review {
    padding: 80px 0;
  }
  .promo__image_desktop {
    display: none;
  }
  .promo__image_mobile {
    display: block;
    width: 350px;
    right: -30px;
    top: auto;
    bottom: 0;
  }
  .promo__image_mobile img {
    min-height: auto;
    width: 100%;
  }
  .promo__text {
    max-width: 400px;
  }
  .upgrade__body {
    display: block;
  }
  .upgrade__image {
    max-width: 100%;
    text-align: center;
  }
  .upgrade__image img {
    position: static;
    max-width: 100%;
  }
  .brands {
    padding: 30px 0;
  }
  .difference__body {
    display: block;
  }
  .difference__image {
    margin-bottom: 50px;
    max-width: 100%;
    text-align: center;
  }
  .difference__image img {
    width: 100%;
  }
  .reviews__slogan {
    font-size: 30px;
  }
  .steps__row {
    display: block;
  }
  .steps__col {
    margin-bottom: 30px;
  }
  .steps-item {
    max-width: 100%;
  }
  .reviews__row {
    display: block;
  }
  .reviews__col {
    margin-bottom: 50px;
  }
  .reviews__col:last-child {
    margin-bottom: 0;
  }
  .reviews-item {
    max-width: 100%;
  }
  .about__title br {
    display: none;
  }
  .video__poster {
    height: 350px;
  }
  .video__play {
    width: 120px;
    height: 120px;
    padding: 25px 25px 25px 45px;
  }
  .video__play img {
    width: 100%;
  }
  .about-features {
    display: block;
  }
  .about-features__item {
    margin-bottom: 50px;
    max-width: 100%;
  }
  .about__text br {
    display: none;
  }
  .designed {
    padding-top: 450px;
    padding-bottom: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .center-wrapper {
    max-width: 540px;
  }
  .promo_reasons {
    padding: 50px 0 0;
  }
  .promo__image {
    margin-top: 40px;
    position: static;
    width: auto;
  }
  .promo__image_mobile {
    text-align: right;
  }
  .promo__image_mobile img {
    max-width: 380px;
  }
  .promo_reasons .promo__image {
    width: auto;
  }
  .reasons-steps-item {
    margin-bottom: 100px;
  }
  .promo__body {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .promo-quote__text:before {
    position: static;
    display: inline;
    padding-right: 10px;
  }
  .promo__text {
    margin: 0 auto 40px;
  }
  .difference__content {
    padding-right: 0;
  }
  .reviews__slogan {
    font-size: 24px;
  }
  .designed__body {
    padding: 40px;
  }
  .designed__btn {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 575px) {
  .btn {
    height: 60px;
    font-size: 20px;
    min-width: auto;
    width: 100%;
  }
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 24px;
  }
  .promo {
    text-align: center;
  }
  .promo__title {
    margin-bottom: 10px;
    font-size: 56px;
  }
  .promo__subtitle {
    font-size: 38px;
  }
  .promo__subtitle br {
    display: none;
  }
  .promo_reasons .promo__text {
    font-size: 24px;
    font-weight: normal;
  }
  .promo_reasons .promo__text br {
    display: none;
  }
  .promo_reasons .promo__btn {
    font-size: 19px;
  }
  .reasons-steps-item__desc {
    font-size: 23px;
  }
  .reasons-steps-item__title {
    height: 60px;
    padding-left: 55px;
    font-size: 30px;
  }
  .reasons-steps-item__title span {
    font-size: 75px;
  }
  .reasons-discount {
    padding: 50px 0;
  }
  .reasons-discount__number {
    font-size: 50px;
  }
  .reasons-discount__title {
    font-size: 38px;
  }
  .reasons-discount__text {
    font-size: 23px;
  }
  .reasons-review {
    padding: 50px 0;
  }
  .reasons-review__title {
    font-size: 40px;
  }
  .promo-quote__text {
    margin-bottom: 20px;
    font-size: 36px;
  }
  .promo-quote__text br {
    display: none;
  }
  .promo-quote__author {
    font-size: 22px;
  }
  .promo__text {
    font-size: 24px;
  }
  .promo__image_mobile {
    margin-left: 40px;
  }
  .upgrade {
    padding: 80px 0;
  }
  .upgrade__content {
    text-align: center;
  }
  .upgrade__caption {
    margin-bottom: 30px;
    font-size: 32px;
  }
  .upgrade__desc {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.3;
  }
  .upgrade__list li {
    font-size: 24px;
    line-height: 1.3;
  }
  .upgrade__list li:before {
    position: static;
    padding-right: 5px;
    display: inline;
  }
  .difference {
    padding: 80px 0;
  }
  .difference__title {
    text-align: center;
  }
  .difference__title::before {
    position: static;
    display: inline;
  }
  .difference__quote {
    text-align: center;
  }
  .difference__quote p {
    font-size: 24px;
  }
  .steps-item__number {
    width: 70px;
    height: 70px;
    font-size: 40px;
  }
  .steps-item__title {
    font-size: 24px;
  }
  .steps-item__desc {
    font-size: 20px;
  }
  .reviews__slogan {
    line-height: 1.3;
  }
  .reviews-item__text {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .reviews-item__author {
    font-size: 20px;
  }
  .reviews__col {
    margin-bottom: 30px;
  }
  .video__poster {
    height: 200px;
  }
  .video__play {
    width: 50px;
    height: 50px;
    padding: 10px 10px 10px 18px;
  }
  .about:before {
    height: 400px;
  }
  .about-features__image {
    margin-bottom: 20px;
    height: auto;
  }
  .about-features__image img {
    max-width: 70px;
  }
  .about-features__text {
    font-size: 24px;
    line-height: 1.3;
  }
  .designed__body {
    padding: 30px 25px;
    text-align: center;
  }
  .designed__title {
    margin-bottom: 20px;
    font-size: 36px;
  }
  .designed__text p {
    margin-bottom: 20px;
  }
  .designed__btn {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding: 0;
  }
  .designed {
    padding-top: 0;
    padding-bottom: 60px;
    background: #FCBA93;
  }
  .designed__image {
    position: static;
  }
  .designed__body {
    margin-top: -70px;
  }
}
@media only screen and (max-width: 359px) {
  .promo_reasons .promo__btn {
    font-size: 16px;
  }
}