<div class="page-content page-full-width page-find-specialist">
  <h1 class="page-title">{{ page.title }}</h1>
  <div class="rte">
	<div class="page-find-specialist-content">
		<h2>{{ 'specialist.header.title' | t }}</h2>
		<p>{{ 'specialist.header.description_html' | t }}</p>
	</div>
    {{ page.content }}
  </div>
</div>

