{% section 'product-comparison' %}
{% section 'product-comparison-banner' %}
{% section 'product-comparison-text-icon' %}
{% section 'product-comparison-text-image' %}
<div class="product-compare-see-in page-width">
{% section 'home-as-seen-in' %}
</div>
{% section 'product-comparison-text-button' %}
