<div class="page-404">
  <h1 class="page-title">
    This provider does not have a website currently
  </h1>
{% comment %}
  <div class="rte">
    {% capture searchLink %}
      <a href="/search">{{ 'general.404.search_link' | t }}</a>
    {% endcapture %}
    {% capture home-link %}
      <a href="{{ shop.url }}">{{ 'general.404.home_link' | t }}</a>
    {% endcapture %}
    <p>{{ 'general.404.message_html' | t: search_link: searchLink, home_link: home-link }}</p>
  </div>
  {% endcomment %}
</div>


