<div class="page-content full-width">
  <h1 class="page-title">{{ page.title }}</h1>
    {% section 'image-bg-with-text' %}
    {% section 'steps-section' %}
    {% section 'cost-saving' %}
    {% section 'your-subscription' %}
    {% section 'faq' %}
    {% section 'hiw-image-overlay' %}
  <div class="rte">
    {{ page.content }}
  </div>
</div>
