<div class="page-content full-width">
  <div class="page-common">
    {{ page.content }}
    <div class="logo-icon">
      {%- include 'icon-logo' -%}
    </div>
    {% section 'home-blog-posts' %}
  </div>
</div>
