<div class="page-content">
  <div class="page-full-width">
  <h1 class="page-title">{{ page.title }}</h1>
  <div class="rte">
    {{ page.content }}
    <hr />
    <div class="heading">
      <h1 class="no-style">Heading H1</h1>
      <h2>Heading H2</h2>
      <h3>Heading H3</h3>
      <h4>Heading H4</h4>
      <h5>Heading H5</h5>
      <h6>Heading H6</h6>
    </div>

    <hr />
    <div class="heading">
      <h2>TYPOGRAPHY </h2>
      <aside class="text">
        <div class="text-group">
          <dl class="text-group-column">
            <dt class="l-18 f--regular c-sparkling5 f--italic padding-right-15">body</dt>
            <dd>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </dd>
          </dl>
        </div>
        <div class="text-group">
          <dl class="text-group-column">
            <dt class="l-18 f--regular c-sparkling5 f--italic padding-right-15">Unordered List</dt>
            <dd class="std">
              <ul>
                <li>Lorem Ipsum is simply dummy text</li>
                <li>Lorem Ipsum is simply setting industry.</li>
                <li>Lorem Ipsum is simply dummy text of industry.</li>
              </ul>


            </dd>
          </dl>
          <dl class="text-group-column">
            <dt class="l-18 f--regular c-sparkling5 f--italic padding-right-15">Ordered List</dt>
            <dd class="std">
              <ol>
                <li>Lorem Ipsum is simply dummy text</li>
                <li>Lorem Ipsum is simply setting industry.</li>
                <li>Lorem Ipsum is simply dummy text of industry.</li>
              </ol>
            </dd>
          </dl>
        </div>
      </aside>
    </div>

    <hr />
    <div class="button-section">
      <h2>BUTTON </h2>
      <button class="button primary">
        <span>PRIMARY</span>
      </button>

      <button class="button secondary">
        <span>SECONDARY</span>
      </button>
    </div>
  </div>

  </div>
</div>

