<div class="page-content full-width">
  <h1 class="page-title">{{ page.title }}</h1>
    {% section 'image-bg-with-text-and-button' %}
    {% section 'us-vs-them' %}
    {% section 'call-to-action' %}
    {% section 'testimonials' %}
    {% section 'as-seen-in' %}
    {% section 'product-guide' %}
    {% section 'two-column-collapsible-img-and-content' %}
  <div class="rte">
    {{ page.content }}
  </div>
</div>

